apiVersion: v1
kind: Pod
metadata:
  name: data-loader
spec:
  restartPolicy: Never
  containers:
    - name: loader
      image: busybox
      command: ["sleep", "3600"]
      volumeMounts:
        - name: data
          mountPath: /data
        - name: models
          mountPath: /models
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: training-data
    - name: models
      persistentVolumeClaim:
        claimName: training-models
