apiVersion: batch/v1
kind: Job
metadata:
  name: preprocess-iris-dataset
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: preprocessor
          image: preprocessing-job:latest
          imagePullPolicy: Never
          args: ["--config", "configs/iris_mlp_classifier.json"]
          envFrom:
            - secretRef:
                name: s3-credentials
          env:
            - name: PYTHONUNBUFFERED
              value: "1"
            - name: S3_ENDPOINT_URL
              value: "http://host.docker.internal:7000"
          volumeMounts:
            - name: configs
              mountPath: /app/configs
              readOnly: true
      volumes:
        - name: configs
          configMap:
            name: training-configs
